@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Hide the default scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 4px;
}

/* Track (the gray area) */
::-webkit-scrollbar-track {
  background: yellowgreen;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #bb9f9f;
  border-radius: 60px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}


:root {
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


 a:hover {
  color: #535bf2;
} 

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
